:root {
    --border-gap: rgb(147, 176, 186);
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 247, 250);
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    padding: 5px 20px;
    border: 1px solid #dedede;
    background-color: white;
    cursor: pointer;
}

button+button {
    margin-left: 5px;
}

button.primary {
    color: white;
    border-color: rgb(32, 178, 170);
    background-color: rgb(32, 178, 170);
}

button.primary:hover {
    background-color: rgba(32, 178, 170, .8);
}

button.cancel:hover {
    background-color: #eceff5;
}

button.danger {
    color: white;
    border-color: #f56c6c;
    background-color: #f56c6c;
}

button.danger:hover {
    background-color: rgba(245, 108, 108, .8);
}

button.success {
    color: white;
    border-color: #67c23a;
    background-color: #67c23a;
}

button.success:hover {
    background-color: rgba(103, 194, 58, .8);
}

.hide {
    display: none !important;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container .nav {
    height: 10px;
    background-image: linear-gradient(45deg, #007ad8 30%, #76CA5C 85%);
}

.container .wrapper {
    height: calc(100% - 36px);
    display: flex;
    flex-direction: row;
}

.wrapper .aside {
    height: 100%;
    width: 180px;
    box-shadow: 1px 0 1px 0 rgba(218, 221, 226, 0.8);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 0 10px;
}

.aside .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.aside .author .avator {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(218, 221, 226, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #007ad8
}

.aside .author .username {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(23, 112, 23);
}

.aside .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted #dedede;
    border-radius: 5px;
}

.aside .description.first-desc {
    border-top: 1px dotted #dedede;
}

.aside .description .label {
    color: #333;
}

.aside .description #is-signed {
    font-size: 12px;
    color: chocolate;
}

.aside .description #remained-point {
    font-size: 18px;
    color: rgb(62, 174, 211);
}

.aside .footer {
    flex: 1;
    place-content: flex-end;
}

.wrapper .content {
    flex: 1;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.content .btn-group {
    display: flex;
    align-items: center;
}

.content .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
    font-size: 16px;
    padding: 5px 12px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-gap);
    background-color: white;
    min-height: 44px;
}

.content .process {
    border: 1px solid var(--border-gap);
    margin-top: 15px;
}

.content .process .process-table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.content .process .process-table th {
    padding: 5px;
    font-size: 16px;
    color: lightseagreen;
    border-top: 0;
    border-color: var(--border-gap);
}

.process-table th:first-child {
    border-left: 0;
}
.process-table th:last-child {
    border-right: 0;
}

.content .process .process-table td {
    padding: 5px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.process-table .body-tr td {
    border-bottom: 0;
}

.process-table .body-tr td:first-child {
    border-left: 0;
}
.process-table .body-tr td:last-child {
    border-right: 0;
}

.content .process .process-no-data {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: white;
}

.content .logs {
    width: 100%;
    border: 1px solid var(--border-gap);
    margin-top: 15px;
    box-sizing: border-box;
}

.content .logs .log-list {
    padding: 15px;
    font-size: 14px;
    color: #767;
    line-height: 24px;
    box-sizing: border-box;
    border-top: 0;
    background-color: white;
    max-height: 500px;
    overflow: auto;
    text-align: center;
}

.content .logs .log-list .one-log {
    display: flex;
}

.content .logs .log-list .one-log .first {
    min-width: 70px;
}

.content .logs .log-list .one-log .error {
    color: rgb(235, 124, 124);
}

.content .logs .log-list .one-log .count {
    color: rgb(62, 174, 211);
}

.content .activity {
    width: 100%;
    border: 1px solid var(--border-gap);
    margin-top: 15px;
    box-sizing: border-box;
}

.content .activity .activity-list {
    padding: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    background-color: white;
    /* max-height: 300px; */
    overflow: auto;
}

.activity-list .activity-content {
    margin-bottom: 20px;
}

.activity-list .activity-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 40px;
    box-sizing: border-box;
}
.activity-list .activity-item:last-child {
    border-bottom: 1px solid #dedede;
}

.activity-list .activity-no-data {
    text-align: center;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    border: 1px solid #dedede;
    margin-bottom: 15px;
}

.activity-list .activity-item .banner {
    width: 150px;
    height: 80px;
    border: 1px solid #dedede;
    border-bottom: 0;
}


.activity-list .activity-item .banner img {
    width: 100%;
    height: 100%;
}

.activity-list .activity-item .detail {
    flex: 1;
    border: 1px solid #dedede;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 5px 5px 10px;
    box-sizing: border-box;
}

.activity-list .activity-item .detail .title {
    font-size: 16px;
    margin-bottom: 5px;
}

.activity-list .activity-item .detail .title .real {
    font-size: 14px;
    color: chocolate;
    font-weight: bold;
}

.activity-list .activity-item .detail .title .limit {
    font-size: 14px;
    color: #67c23a;
}

.activity-list .activity-item .detail .desc {
    color: #666;
    font-size: 14px;
}

.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
}

.mask .dialog-wrapper {
    width: 600px;
    position: relative;
    top: calc(50% - 260px);
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
}

.mask .dialog-wrapper .dialog-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: lightseagreen;
    border-bottom: 1px solid #dedede;
}

.mask .dialog-wrapper .dialog-content {
    padding: 15px 20px;
}

.mask .dialog-wrapper .dialog-content .token {
    width: 100%;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.mask .dialog-wrapper .dialog-content .form-item {
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-top: 10px;
}

.dialog-content .form-item .form-label {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.dialog-content .form-item .dialog-input {
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    flex: 1;
}

.dialog-content .form-item .group {
    display: flex;
    justify-content: space-between;
    flex: 1
}

.dialog-content .form-tips {
    margin-top: 15px;
    line-height: 20px;
    font-size: 12px;
    color: #777;
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 8px;
}

.dialog-content .form-tips .important {
    color: rgb(231, 109, 129);
}

.mask .dialog-wrapper .dialog-footer {
    padding: 10px;
    border-top: 1px solid #dedede;
    text-align: right;
}

.watermark-container {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.watermark-container .t-box {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.watermark-container .watermark {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 150px;
    pointer-events: none;
    background-repeat: repeat;
    animation: none;
    opacity: .5;
}

.copyright {
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #999;
    background-color: #333;
    height: 26px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 1500;
}
